<?xml version="1.0"?>
<robot name="selfie" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- inertial parameter macros -->


<xacro:property name="wheelRadius" value="${0.04}" />
<xacro:property name="wheelWidth" value="${0.03 }" />
<xacro:property name="wheelMass" value="${100 }" />

<xacro:property name="hingeRadius" value="${0.1 }" />
<xacro:property name="hingeMass" value="${1 }" />


<xacro:property name="chassisX" value="${0.22 }" />
<xacro:property name="chassisY" value="${0.2 }" />
<xacro:property name="chassisZ" value="${0.1 }" />
<xacro:property name="chassisMass" value="${1000}" />


<xacro:macro name="chassis_inertial_params">
  <origin xyz="${chassisX/2} 0 0" rpy="0 0 0" />
  <mass value="${chassisMass}" />
  <inertia ixx="${chassisMass*(chassisY*chassisY + chassisZ*chassisZ)/12}" ixy="0"          ixz="0"
                          iyy="${chassisMass*(chassisX*chassisX + chassisZ*chassisZ)/12}"   iyz="0"
                                           izz="${chassisMass*(chassisY*chassisY + chassisX*chassisX)/12}" />
</xacro:macro>

<xacro:macro name="wheel_inertial_params">
  <origin xyz="0 0 0" rpy="0 0 0" />
  <mass value="${wheelMass}" />
  <inertia ixx="${wheelMass*(3*wheelRadius*wheelRadius+wheelWidth*wheelWidth)/12}" ixy="0"          ixz="0"
                            iyy="${wheelMass*(3*wheelRadius*wheelRadius+wheelWidth*wheelWidth)/12}" iyz="0"
                                             izz="${wheelMass*wheelRadius*wheelRadius/2}" />
</xacro:macro>


<xacro:macro name="steering_hinge_inertial_params">
  <origin xyz="0 0 0" rpy="0 0 0" />
  <mass value="${hingeMass}" />
  <inertia ixx="${2*hingeMass*hingeRadius*hingeRadius/3}" ixy="0"           ixz="0"
                            iyy="${2*hingeMass*hingeRadius*hingeRadius/3}"  iyz="0"
                                              izz="${2*hingeMass*hingeRadius*hingeRadius/3}" />
</xacro:macro>

<xacro:macro name="hokuyo_inertial_params">
  <origin xyz="0 0 0" rpy="0 0 0" />
  <mass value="0.130" />
  <inertia ixx="4E-06" ixy="0"           ixz="0"
                            iyy="4E-06"  iyz="0"
                                              izz="4E-06" />
</xacro:macro>


<!-- geometry macros -->

<xacro:macro name="chassis_geometry">
  <origin xyz="${chassisX/2} 0 0" rpy="0 0 0" /> <!-- origin xyz="-0.08 0 0" rpy="0 0 0"-->
  <geometry>
    <mesh filename="package://gazebo_selfie_sim/vehicles/models/selfie/meshes/my_chasis.STL"/>
  </geometry>
</xacro:macro>


<xacro:macro name="wheel_geometry">
  <origin xyz="0 0 0.0" rpy="0 0 0" />
  <geometry>
    <cylinder radius="${wheelRadius}" length="${wheelWidth}"/>
  </geometry>
</xacro:macro>
<!-- transmission macros -->

<xacro:macro name="wheel_transmission" params="name">
  <transmission name="${name}_transmission" type="SimpleTransmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="${name}_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="${name}_motor">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
</xacro:macro>

<xacro:macro name="steering_hinge_transmission" params="name">
  <transmission name="${name}_transmission" type="SimpleTransmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="${name}_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="${name}_motor">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
</xacro:macro>

</robot>
