<?xml version="1.0"?>
<robot name="$(arg robot_name)">
  <xacro:macro name="camera_params"  xmlns:xacro="http://www.ros.org/wiki/xacro">
    <horizontal_fov>1.58</horizontal_fov>     <!--0.8709216071359963-->
    <image>
      <width>1024</width>    <!-- 640 -->
      <height>400</height>     <!-- 480-->
      <format>L8</format>
    </image>
    <clip>
      <near>0.02</near>
      <far>300</far>
    </clip>
    <noise>
      <type>gaussian</type>
      <mean>0.0</mean>
      <stddev>0.007</stddev>
    </noise>
  </xacro:macro>

  <xacro:macro name="camera_plugin_params"  xmlns:xacro="http://www.ros.org/wiki/xacro"> 
    <alwaysOn>true</alwaysOn>
    <updateRate>70</updateRate>    <!-- 30 -->
    <cameraName>/camera/zed</cameraName>
    <imageTopicName>/camera_basler/image_rect</imageTopicName>
    <cameraInfoTopicName>/camera_basler/camera_info</cameraInfoTopicName>
    <frameName>lens_link</frameName>
    <hackBaseline>0</hackBaseline><!-- set this to 0.12 for the second camera -->
    <distortionK1>0.0</distortionK1>
    <distortionK2>0.0</distortionK2>
    <distortionK3>0.0</distortionK3>
    <distortionT1>0.0</distortionT1>
  </xacro:macro>
</robot>


